{% extends "base.html" %} {% load static %} {% block title %}
<title>About Us | Graceglobalconsult</title>
{% endblock %} {% block content %}

<section class="about-us-hero">
  <div class="container">
    <div class="about-us-hero-text">
      <h1>About Us</h1>
      <p>
        Learn more about who we are, what drives us and our commitment to
        delivering quality hospitality and property management solutions.
      </p>
    </div>
  </div>
</section>
<div class="sections">
  <section class="who-we-are">
    <div class="container">
      <div class="who-we-are-content">
        <div class="text-center section-heading">
          <h3>Who We Are</h3>
          <div class="section-line mx-auto"></div>
        </div>
        <p>
          We are a leading hospitality and property management company dedicated
          to providing exceptional services to our clients. With a passion for
          excellence and a commitment to quality, we strive to create memorable
          experiences for our guests and maximize the value of our clients'
          properties.
        </p>
        <a href="{% url 'contact_us' %}">Learn More</a>
      </div>
    </div>
  </section>
  <hr />
  <section class="who-we-are">
    <div class="container">
      <div class="who-we-are-content">
        <div class="text-center section-heading">
          <h3>Our Core Values</h3>
          <div class="section-line mx-auto"></div>
        </div>
        <div class="value-container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
              <div class="value-item">
                <div class="value-item-icon">
                  <img src="{% static 'svg/secure-shield.svg' %}" alt="icon" />
                </div>
                <div class="value-item-text">
                  <span>Integrity</span>
                  <p>
                    We operate with transparency, honesty and strong ethical
                    standards.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
              <div class="value-item">
                <div class="value-item-icon">
                  <img src="{% static 'svg/secure-shield.svg' %}" alt="icon" />
                </div>
                <div class="value-item-text">
                  <span>Excellence</span>
                  <p>
                    We committed to delivering high-quality services and that
                    exceeds expectations.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
              <div class="value-item">
                <div class="value-item-icon">
                  <img src="{% static 'svg/quality.svg' %}" alt="icon" />
                </div>
                <div class="value-item-text">
                  <span>Customer Satisfaction</span>
                  <p>
                    We prioritize our clients' needs and strive to deliver
                    exceptional experiences.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
              <div class="value-item">
                <div class="value-item-icon">
                  <img src="{% static 'svg/quality.svg' %}" alt="icon" />
                </div>
                <div class="value-item-text">
                  <span>Innovation</span>
                  <p>
                    We embrace new ideas and technologies to continuously
                    improve our services and processes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="d-block d-md-none why-choose-us">
    <div class="container">
      <div class="why-us">
        <div class="text-center section-heading">
          <h3>Why Choose Us</h3>
          <div class="section-line mx-auto"></div>
        </div>
        <div class="why-content">
          <div class="row g-3">
            <div class="col-6">
              <div class="section-item">
                <img src="{% static 'svg/trusted.svg' %}" alt="icon" />
                <span>Reliable & Professional</span>
              </div>
            </div>
            <div class="col-6">
              <div class="section-item">
                <img src="{% static 'svg/customer-focused.svg' %}" alt="icon" />
                <span>Customer Focused</span>
              </div>
            </div>
            <div class="col-6">
              <div class="section-item">
                <img src="{% static 'svg/solutions.svg' %}" alt="icon" />
                <span>Flexible Solutions</span>
              </div>
            </div>
            <div class="col-6">
              <div class="section-item">
                <img src="{% static 'svg/quality.svg' %}" alt="icon" />
                <span>Quality & Efficiency</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="partner d-block d-md-none">
    <div class="container">
      <div class="partner-banner">
        <div class="banner-header">Partner with us or stay with us today.</div>
        <div class="banner-description">We are here to serve you.</div>
        <div class="banner-cta">
          <a class="btn cta-primary" href="#">Contact Us</a>
          <a class="btn cta-secondary" href="#">Book a Stay</a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
