{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/95568bc73a.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block style %} {% endblock %}
  </head>

  <body>
    <section>
      <style>
        .message-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position: fixed;
          top: 10rem;
        }

        .message-content {
          position: absolute;
          right: 0;
          padding: 10px;
          background: #f8f9fa;
          border-radius: 8px;
          font-weight: 500;
          font-size: 14px;
        }

        @media (min-width: 320px) and (max-width: 1024px) {
          .message-container {
            position: relative;
            z-index: 100;
            left: 17rem;
            top: 10rem;
            transform: translate(-50%, 50%);
          }
        }
      </style>

      {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            <div
              class="message-content {% if 'error' in message.tags %} text-danger {% else %} text-success{% endif %}"
            >
              <i
                class="fas {% if 'error' in message.tags %} fa-exclamation-circle text-danger {% else %} fa-check-circle text-success {% endif %} me-2"
              ></i>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
    <div class="container-fluid">
      <!-- <div class="contact-container d-flex flex-wrap justify-content-end">
      <div class="mail mb-2 me-3">
        <a href="mailto:info@devbros.com" id="link"><i class="fa-solid fa-envelope fa-lg"
            style="color: #1578db;"></i></a>
        <a href="mailto:info@devbros.com">Info@devbros.com</a>
      </div>
      <div class="call mb-2">
        <a href="tel:+2348113384484" id="link"><i class="fa-solid fa-phone fa-lg" style="color: #1578db;"></i></a>
        <a href="tel:+2348113384484">+234-811-338-4484</a>
      </div>
    </div> -->

      <nav
        class="navbar navbar-expand-lg navbar-light bg-white"
        style="position: sticky; top: 2px; z-index: 1000"
      >
        <div class="container-fluid">
          <div class="logo">
            <a class="navbar-brand" href="#"
              ><i
                class="fa-solid fa-dice-d20 fa-spin-pulse fa-lg"
                style="color: #000000; display: inline-block"
              ></i>
              <h5 style="display: inline-block">DevBros Inc.</h5>
            </a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" id="home">
                <a style="color: rgb(69, 68, 68)" class="nav-link" href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item" id="rest">
                <a
                  style="color: rgb(69, 68, 68)"
                  class="nav-link"
                  href="{% url 'about' %}"
                  >About</a
                >
              </li>
              <li class="nav-item" id="rest">
                <a
                  style="color: rgb(69, 68, 68)"
                  class="nav-link"
                  href="{% url 'services' %}"
                  >Services</a
                >
              </li>
              <li class="nav-item" id="rest">
                <a
                  style="color: rgb(69, 68, 68)"
                  class="nav-link"
                  href="{% url 'contact_us' %}"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item" id="rest">
                <a
                  style="color: rgb(69, 68, 68)"
                  class="nav-link"
                  href="{% url 'faq' %}"
                  >FAQ</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
