{% extends "base.html" %} {% load static %} {% block title %}
<title>Cleaning Services | Grace Global Consult</title>
{% endblock %} {% block content %}
<section class="page-hero-cleaning">
  <div class="container">
    <div class="page-hero-content">
      <div class="page-hero-text">
        <h1>
          Expert Cleaning<br />
          Services
        </h1>
        <p>
          Professional cleaning solutions for residential and commercial
          buildings.
        </p>
      </div>
      <div class="page-hero-cta">
        <a href="{% url 'contact_us' %}" class="btn">Request a Service</a>
      </div>
    </div>
  </div>
</section>
<div class="sections pt-3 cleaning-service">
  <section class="page-services-section ">
    <div class="container">
      <div class="page-services">
        <div class="section-heading">
          <h3>Our Cleaning Services</h3>
          <div class="section-line"></div>
        </div>
        <div class="page-services-content">
          <div
            class="row bg-white aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <div class="col-12 col-lg-6 order-2 order-lg-1 service-item">
              <h4>Domestic Cleaning</h4>
              <p>
                We offer professional cleaning for homes, offices, and
                commercial spaces, including floor cleaning, dusting, bathroom
                and kitchen cleaning, post-construction cleaning, and routine
                maintenance. Our team delivers neat, hygienic results using safe
                cleaning products and flexible schedules.
              </p>
              <a href="{% url 'contact_us' %}">Contact Us</a>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 service-img">
              <img
                src="{% static 'img/woman-cleaning.jpeg' %}"
                alt=""
                loading="lazy"
                class="img-fluid"
              />
            </div>
          </div>
          <div
            class="row bg-light aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <div class="col-12 col-lg-6 order-2 order-lg-2 service-item">
              <h4>Deep Cleaning</h4>
              <p>
                We offer specialized deep cleaning for homes, offices, and
                commercial spaces, including carpet washing, sanitizing, intense
                bathroom and kitchen scrubbing, move-in/move-out cleaning, and
                detailed disinfection. Our team delivers spotless, pristine
                results using eco-friendly products and flexible schedules.
              </p>
              <a href="{% url 'contact_us' %}">Contact Us</a>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-1 service-img">
              <img
                src="{% static 'img/deep-cleaning.jpeg' %}"
                alt=""
                loading="lazy"
                class="img-fluid"
              />
            </div>
          </div>
          <div
            class="row bg-white aos-init aos-animate"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <div class="col-12 col-lg-6 order-2 order-lg-1 service-item">
              <h4>Commercial Cleaning</h4>
              <p>
                We offer commercial cleaning for offices, retail, and corporate
                spaces, including desk sanitization, floor buffing, restroom
                deep cleaning, window washing, and high-touch area disinfection.
                Our team delivers spotless, professional results using
                heavy-duty safe products and flexible, after-hours schedules.
              </p>
              <a href="{% url 'contact_us' %}">Contact Us</a>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 service-img">
              <img
                src="{% static 'img/com-cleaning.jpeg' %}"
                alt=""
                loading="lazy"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="why-choose-us ">
    <div class="container">
      <div class="why-us">
        <div class="section-heading">
          <h3>Why Choose Us</h3>
          <div class="section-line"></div>
        </div>
        <div class="page-services-content">
          <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
              <div class="page-card">
                <div class="page-card-img">
                  <img src="{% static 'svg/trusted.svg' %}" alt="" />
                </div>
                <div class="page-card-text">Reliable Delivery</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="page-card">
                <div class="page-card-img">
                  <img src="{% static 'svg/customer-focused.svg' %}" alt="" />
                </div>
                <div class="page-card-text">Customer Focused</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="page-card">
                <div class="page-card-img">
                  <img src="{% static 'svg/solutions.svg' %}" alt="" />
                </div>
                <div class="page-card-text">Flexible Solutions</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="page-card">
                <div class="page-card-img">
                  <img src="{% static 'svg/quality.svg' %}" alt="" />
                </div>
                <div class="page-card-text">Quality and Efficiency</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="partner page-partner-sect">
    <div class="container">
      <div class="cta-card">
        <h2 class="cta-title">Partner with us today</h2>
        <p class="cta-description">
          Let us handle your property and<br />
          operational needs.
        </p>
        <div class="cta-buttons">
          <a href="#" class="btn btn-primary">Contact Us</a>
          <a href="#" class="btn btn-secondary">Request Service</a>
        </div>
      </div>
    </div>
  </section>

  <section class="our-division-section">
    <div class="container">
      <div class="division-container">
        <div class="section-heading">
          <h3 class="division-section-title">Our Divisions</h3>
          <div class="section-line"></div>
        </div>
        <div class="row g-4">
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img
                  src="{% static 'svg/cleaning.svg' %}"
                  alt="cleaning-icon"
                />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Cleaning Services</h4>
                <p class="division-card-desc">
                  Professional cleaning solutions for residential and commercial
                  buildings.
                </p>
                <a
                  href="{% url 'cleaning_services' %}"
                  class="division-card-link"
                >
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img
                  src="{% static 'svg/real-estate.svg' %}"
                  alt="Property Icon"
                />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Property Services</h4>
                <p class="division-card-desc">
                  Professional support for property owners and businesses.
                </p>
                <a
                  href="{% url 'property_services' %}"
                  class="division-card-link"
                >
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img src="{% static 'svg/office-admin.svg' %}" alt="Hostel Icon" />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Office Admin Support</h4>
                <p class="division-card-desc">
                    Efficient office administration and support services for smooth
                    operations.
                </p>
                <a href="{% url 'admin_services' %}" class="division-card-link">
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img src="{% static 'svg/hostel.svg' %}" alt="Hostel Icon" />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Grace Hostels</h4>
                <p class="division-card-desc">
                  Affordable, clean, and welcoming accommodation designed for
                  comfort and community.
                </p>
                <a href="{% url 'hostels' %}" class="division-card-link">
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="newsletter d-block d-lg-none">
    <div class="container">
      <div class="newsletter-content">
        <h3>Stay Updated</h3>
        <span class="d-block d-md-none">Subscribe to our newsletter.</span>
        <span class="d-none d-md-block"
          >Subscribe to our newsletter for updates and offers.</span
        >
        <form action="">
          <input type="text" name="" id="" placeholder="Enter your email" />
          <button class="btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
