{% extends "base.html" %} {% load static %} {% block title %}
<title>Hostels | Grace Global Consult</title>
{% endblock %} {% block content %}

<section class="page-hero-hostel">
  <div class="container">
    <div class="page-hero-content">
      <div class="page-hero-text">
        <h1>Discover Our<br />Youth Hostels.</h1>
        <p>
          Comfortable, secure and community oriented accommodation.
        </p>
      </div>
      <div class="page-hero-cta">
        <a href="{% url 'contact_us' %}" class="btn">Book Your Stay</a>
      </div>
    </div>
  </div>
</section>
<div class="sections">
  <section class="hostel-category-section">
    <div class="container">
      <div class="hostel-category">
        <div class="section-heading">
          <h3>Hostel Categories</h3>
          <div class="section-line"></div>
        </div>
        <div class="hostel-category-content">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="hostel-card">
                <div class="hostel-card-img">
                  <img src="{% static 'svg/group.svg' %}" alt="icon" />
                </div>
                <div class="hostel-card-content">
                  <div class="hostel-card-text">
                    <span>Group Hostels</span>
                    <p>Ideal for student groups and teams.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="hostel-card">
                <div class="hostel-card-img">
                  <img src="{% static 'svg/single-user.svg' %}" alt="icon" />
                </div>
                <div class="hostel-card-content">
                  <div class="hostel-card-text">
                    <span>Solo/Student Hostels</span>
                    <p>Perfect for independent travellers and students.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="amenities-category-section">
    <div class="container">
      <div class="amenities-category">
        <div class="section-heading">
          <h3>Amenities</h3>
          <div class="section-line"></div>
        </div>
        <div class="amenities-category-content">
          <div class="row g-3">
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/wifi.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>Free Wifi</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/security.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>24/7 Security</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/social.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>Social Common Areas</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/laundry.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>On-Site Laundring</span>
                  <p>Convenient washing and drying facilities</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="featured-hostels">
    <div class="container">
      <div class="text-center section-heading">
        <h3>Featured Hostels</h3>
        <div class="section-line mx-auto"></div>
      </div>
      <div class="hostel-scroll d-flex align-items-center justify-content-start gap-4">
        <div class="hostel-card">
          <img src="{% static 'img/hostel-1.jpeg' %}" alt="" />
          <h6>Grace Hostel 1</h6>
        </div>

        <div class="hostel-card">
          <img src="{% static 'img/hostel-2.jpeg' %}" alt="" />
          <h6>Grace Hostel 2</h6>
        </div>

        <div class="hostel-card">
          <img src="{% static 'img/hostel-3.jpeg' %}" alt="" />
          <h6>Grace Hostel 3</h6>
        </div>
        <div class="hostel-card">
          <img src="{% static 'img/hostel-4.jpeg' %}" alt="" />
          <h6>Grace Hostel 4</h6>
        </div>
        <div class="hostel-card link d-block d-md-none">
          <a href="#">View All
            <i class="fa-solid fa-angles-right ms-2" style="color: #d4b401"></i></a>
        </div>
      </div>
      <div class="d-none d-md-block">
        <a href="#">View All
          <i class="fa-solid fa-angles-right ms-2" style="color: #d4b401"></i></a>
      </div>
    </div>
  </section>
  <hr />
  <section class="amenities-category-section">
    <div class="container">
      <div class="amenities-category">
        <div class="section-heading">
          <h3>Why Stay With Us?</h3>
          <div class="section-line"></div>
        </div>
        <div class="amenities-category-content why-us-block">
          <div class="row g-3">
            <div class="col-12">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/community.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>Community</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/happy.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>Comfort</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <img src="{% static 'svg/support.svg' %}" alt="icon" />
                </div>
                <div class="amenities-card-text">
                  <span>Support</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-division-section">
    <div class="container">
      <div class="division-container">
        <div class="section-heading">
          <h3 class="division-section-title">Our Divisions</h3>
          <div class="section-line"></div>
        </div>
        <div class="row g-4">
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img src="{% static 'svg/cleaning.svg' %}" alt="cleaning-icon" />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">General Cleaning</h4>
                <p class="division-card-desc">
                  Professional cleaning services for offices and commercial spaces,
                  ensuring a spotless, hygienic, and well-maintained environment.
                </p>
                <a href="{% url 'cleaning_services' %}" class="division-card-link">
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img src="{% static 'svg/office-admin.svg' %}" alt="Property Icon" />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Admin Support</h4>
                <p class="division-card-desc">
                  Efficient office administration and support services for smooth
                  operations.
                </p>
                <a href="{% url 'property_services' %}" class="division-card-link">
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="division-card">
              <div class="icon-box">
                <img src="{% static 'svg/property-services.svg' %}" alt="Hostel Icon" />
              </div>
              <div class="division-card-content">
                <h4 class="division-card-title">Property Management</h4>
                <p class="division-card-desc">
                  Professional support for property owners and businesses.
                </p>
                <a href="{% url 'property_services' %}" class="division-card-link">
                  Learn More <span class="arrow">&rarr;</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}