{% extends "base.html" %} {% load static %} {% block title %}
<title>Hostels | Grace Global Consult</title>
{% endblock %} {% block content %}
<section class="page-hero">
  <div class="container">
    <div class="page-hero-content">
      <div class="page-hero-text">
        <h1>Property Services</h1>
        <p>
          Reliable solutions for property owners <br />
          and businesses.
        </p>
      </div>
      <div class="page-hero-cta">
        <a href="{% url 'contact_us' %}" class="btn">Request a Service</a>
      </div>
    </div>
  </div>
</section>
<div class="sections">
  <section class="hostel-category-section">
    <div class="container">
      <div class="hostel-category">
        <div class="section-heading">
          <h3>Our Services</h3>
          <div class="section-line"></div>
        </div>
        <div class="hostel-category-content">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="hostel-card">
                <div class="hostel-card-img">
                  <i class="fa-solid fa-users fa-2xl"></i>
                </div>
                <div class="hostel-card-content">
                  <div class="hostel-card-text">
                    <span>Group Hostels</span>
                    <p>Ideal for student groups and teams.</p>
                  </div>
                  <div class="hostel-card-link">
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="amenities-category-section">
    <div class="container">
      <div class="amenities-category">
        <div class="section-heading">
          <h3>Why Stay Wit Us?</h3>
          <div class="section-line"></div>
        </div>
        <div class="amenities-category-content">
          <div class="row g-3">
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <i class="fa-solid fa-users fa-2xl"></i>
                </div>
                <div class="amenities-card-text">
                  <span>Community</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <i class="fa-solid fa-users fa-2xl"></i>
                </div>
                <div class="amenities-card-text">
                  <span>Comfort</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <i class="fa-solid fa-users fa-2xl"></i>
                </div>
                <div class="amenities-card-text">
                  <span>Support</span>
                  <p>Stay connected throughout your stay.</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="amenities-card">
                <div class="amenities-card-img">
                  <i class="fa-solid fa-users fa-2xl"></i>
                </div>
                <div class="amenities-card-text">
                  <span>On-Site Laundring</span>
                  <p>Convenient washing and drying facilities</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="newsletter d-block d-lg-none">
    <div class="container">
      <div class="newsletter-content">
        <h3>Stay Updated</h3>
        <span class="d-block d-md-none">Subscribe to our newsletter.</span>
        <span class="d-none d-md-block"
          >Subscribe to our newsletter for updates and offers.</span
        >
        <form action="">
          <input type="text" name="" id="" placeholder="Enter your email" />
          <button class="btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
