* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Base typography */
body {
  
}
/* 
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}
*/ .header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.navbar-links {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 20px;
  transition: right 0.3s ease;
  padding-top: 3rem;
  z-index: 1000;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

.navbar-links.active {
  right: 0;
}

.navbar-links a.active {
  color: #ffffff;
  font-weight: 500;
  background: #03134f;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.request-quote {
  display: none;
}

.request-quote-mobile {
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.request-quote-mobile a {
  background: transparent;
  border: 2px solid #03134f;
  padding: 0.7rem;
  display: block;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #03134f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1024px) {
  .navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  .hamburger {
    display: none;
  }

  .close-btn-container {
    display: none;
  }

  .navbar-links {
    position: static;
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    background: none;
    box-shadow: none;
    flex-direction: row;
    gap: 0;
    transition: none;
    padding-top: 0;
    z-index: 10;
  }

  .navbar-links ul {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .navbar-links a.active {
    color: #ffffff;
    font-weight: 500;
    background: #03134f;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }

  .request-quote {
    display: block;
  }

  .request-quote-mobile {
    display: none;
  }

  .request-quote a {
    background: #03134f;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: 1.5px solid #03134f;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  .request-quote a:hover {
    background: transparent;
    color: #000;
  }
}

footer {
  background-color: #0b1f3a;
  color: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 2rem;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(248, 247, 247, 0.55);
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  color: #0ccb55;
}


.container {
  
  border: 1px solid #000;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-betweenc;
  gap: 2rem;
}

.footer-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.footer-wrapper ul li {
  list-style: none;
}



.footer-logo img {
  width: 300px;
  height: auto;
}

.via-phone, .via-address, .via-email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.phone-details span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.via-email a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.via-email a:hover {
  color: #b03aff;
}

.via-address span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  text-transform: capitalize;
}



.socials {
  display: flex;
  gap: 20px;
}

.socials img {
  width: 20px;
}

.socials a:hover {
  background: #b03aff1f;
}

.socials a {
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}

.footer-container hr {
  border: none;
  border-top: 1px solid #7b7b7b;
  width: 80%;
  height: 0;
}

.footer-copyright {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.4;
  text-align: center;
  padding: 0rem 0 1.5rem;
}

