.hostel-hero {
  position: relative;
  background-image: url("../img/hostel-1.jpeg");
  background-size: cover;
  background-position: center;
  padding: 2rem 0rem;
  color: #fff;
  overflow: hidden;
}

.hostel-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.hostel-hero .container {
  position: relative;
  z-index: 2;
}

.hostel-hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-shadow: 0 2px 2px rgb(0, 0, 0);
  padding-top: 160px;
  padding-bottom: 0rem;
}

.hostel-hero-text h1 {
  line-height: 1.3;
}

.hostel-hero-text p {
  margin: 0;
  line-height: 1.3;
  width: 100%;
}

.hero-cta a {
  padding: 0.75rem 1.5rem;
  background-color: #d4b401;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  text-shadow: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.335);
}

.hostel-category-section {
  padding: 2rem 0rem;
}

.hostel-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-line {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hostel-hero {
    padding: 4rem 2rem;
  }

  .hostel-hero::before {
    background: rgba(0, 0, 0, 0.672);
  }

  .hostel-hero-text {
    padding-bottom: 0rem;
  }

  .hostel-hero-text p {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1.3;
    width: 40%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .hero-cta a {
    padding: 1rem 1.5rem;
    transition: 0.5s ease;
  }

  .hero-cta a:hover {
    background-color: #0a8f3d;
    border: 1.5px solid #0a8f3d;
  }

  .hostel-hero-text p {
    width: 42%;
  }

  .hostel-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .section-line {
    margin: 0;
  }
}

